
@{
    ViewBag.Title = "userlogin";
}

<div>
    <h2>Login Credientials</h2>
    <form action="/Home/confirmLogin/" method="post">
        Username: <input type="text" name="username" placeholder="Enter Username" />
        Password: <input type="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Login" />
    </form>
</div>
